* {
    text-align: center;
    box-sizing: border-box;
  }
  
  .container {
    margin-top: 100px;
  }
  
  .input_space {
    margin-bottom: 10px;
  }
  
  .input {
    height: 30px;
    width: 100%;
    font-size: 18px;
    padding: 5px;
  }
  
  .button {
    height: 30px;
    width: 100%;
    background-color: rgb(3, 23, 249);
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .button:hover {
    background-color: rgb(2, 42, 201);
  }
  
  .logout {
    margin-right: 5px;
    color: white;
    font-weight: 400;
  }
  
  .delete {
    margin-right: 5px;
    color: white;
    background-color: rgb(19, 103, 142);
    font-weight: 400;
  }
  
  @media (min-width: 768px) {
    /* Adjust the following styles for tablets and larger screens */
    .container {
      width: 400px;
      margin: 100px auto;
    }
    
    .input {
      width: 100%;
    }
    
    .button {
      width: 100%;
    }
  }
  